body {
    background-color: black;
}

.rounded-white-box {
    background-color: white;
    font-family: arial;
    width: 400px;
    height: 300px;
}

.title {
    color: gray;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}


.numeric-result {
    background-color: yellow;
}

